<html>
    <head>
        <title> <%= title %></title>

        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>

    <body>
        <div id="app-content">
            <header id="app-title">
                <h1>TODO APP</h1>
            </header>
            
            
            
            <div id="todo-content">
                <%- body %>
            </div>
            
        </div>
            
        

        <%- script %>
    </body>
    
</html>