#app-content{
    height: 70vh;
    width: 60vw;
    background-color: white;
    margin-left: 20%;
}
#app-title{
    margin-left: 35%;
    margin-top: 2vh;
    color: grey;
    font-size: 2rem;
}

body{
    background-color: grey;
}
